<div class="carousel_div">
    <ui-carousel [infinite]="true" [fade]="false" [autoPlay]="false">
        <ui-carousel-item>
            <img class="slide" src="../../../../assets/slides/PROUST-%20Slider%20tiles-01.png" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img class="slide" src="../../../../assets/slides/PROUST-%20Slider%20tiles-02.png" alt="" draggable="false">
        </ui-carousel-item>
        <ui-carousel-item>
            <img class="slide" src="../../../../assets/slides/PROUST-%20Slider%20tiles-03.png" alt="" draggable="false">
        </ui-carousel-item>
    </ui-carousel>
</div>