<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Connexion</h3>
            PROUST
        </label>
        <div class="login-group">
            <input class="username" type="text" id="login_username" placeholder="Nom d'utilisateur">
            <input class="password" type="password" id="login_password" placeholder="Mot de passe">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Se souvenir de moi
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </form>
</div>
