<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Servlet_1</servlet-name>
        <servlet-class>com.p52.servlet.Servlet_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_2</servlet-name>
        <servlet-class>com.p52.servlet.Servlet_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_3_1</servlet-name>
        <servlet-class>com.p52.servlet.Servlet_3_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_3_2_1</servlet-name>
        <servlet-class>com.p52.servlet.Servlet_3_2_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_3_2_2</servlet-name>
        <servlet-class>com.p52.servlet.Servlet_3_2_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_4</servlet-name>
        <servlet-class>com.p52.servlet.Servlet_4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Router</servlet-name>
        <servlet-class>com.p52.servlet.Servlet_Router</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_6</servlet-name>
        <servlet-class>com.p52.servlet.Servlet_6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Router</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_1</servlet-name>
        <url-pattern>/question/1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_2</servlet-name>
        <url-pattern>/question/2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_3_1</servlet-name>
        <url-pattern>/question/3/1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_3_2_1</servlet-name>
        <url-pattern>/question/3/2/1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_3_2_2</servlet-name>
        <url-pattern>/question/3/2/2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_4</servlet-name>
        <url-pattern>/question/4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_6</servlet-name>
        <url-pattern>/question/6</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>