<img class="about" src='../../../../assets/about.jpg'>

<div class="about_cards">

    <div>
        <p class="card context">Projet Acrobatt 2018 IUT Robert Schuman - Licence Pro Concepteur Développeur en
            Environnement Distribué </p>
    </div>

    <div class="card card_profil">
        <div class="view hm-white-slight waves-light">
            <img src="../../../../assets/avatars/team_acrobatt_robin.png" class="img-fluid img_card"
                 alt="Card image with a tree in a middle of a lake.">
        </div>
        <div>

            <p class="card-text">Développement backend</p>
        </div>
    </div>

    <div class="card card_profil">
        <div class="view hm-white-slight waves-light">
            <img src="../../../../assets/avatars/team_acrobatt_dylan.png" class="img-fluid img_card"
                 alt="Card image with a tree in a middle of a lake.">
        </div>
        <div>

            <p class="card-text">Développement backend</p>
        </div>
    </div>

    <div class="card card_profil">
        <div class="view hm-white-slight waves-light">
            <img src="../../../../assets/avatars/team_acrobatt_thomas.png" class="img-fluid img_card"
                 alt="Card image with a tree in a middle of a lake.">
        </div>
        <div>

            <p class="card-text">Développement frontend - mobile</p>
        </div>
    </div>

    <div class="card card_profil">
        <div class="view hm-white-slight waves-light">
            <img src="../../../../assets/avatars/team_acrobatt_lucas.png" class="img-fluid img_card"
                 alt="Card image with a tree in a middle of a lake.">
        </div>
        <div>

            <p class="card-text">Développement frontend - web</p>
        </div>
    </div>

    <div class="card card_profil">
        <div class="view hm-white-slight waves-light">
            <img src="../../../../assets/avatars/team_acrobatt_ysaline.png" class="img-fluid img_card"
                 alt="Card image with a tree in a middle of a lake.">
        </div>
        <div>

            <p class="card-text">Développement frontend - web</p>
        </div>
    </div>

    <div class="card card_profil">
        <div class="view hm-white-slight waves-light">
            <img src="../../../../assets/avatars/frog_sun.png" class="img-fluid img_card_marceau"
                 alt="Card image with a tree in a middle of a lake.">
        </div>
        <div>
            <h5 class="card-title">Marceau</h5>
            <p class="card-text">Météorologue</p>
        </div>
    </div>

</div>
