<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Inscription</h3>
            PROUST
            <h5 class="hint">Marceau te conseille de t'inscrire, pour avoir accès à toutes les fonctionnalités qu'il
                propose :)</h5>
        </label>
        <div class="login-group">
            <input class="username" type="text" id="login_username" placeholder="Nom d'utilisateur">
            <input class="username" type="text" id="name_username" placeholder="Nom">
            <input class="username" type="text" id="lastname_username" placeholder="Prénom">
            <input class="username" type="email" id="email_username" placeholder="Adresse email">
            <input class="password" type="password" id="login_password" placeholder="Mot de passe">
            <input class="password" type="password" id="login_password_re" placeholder="Confirmation du mot de passe">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Se souvenir de moi
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </div>
    </form>
</div>
